.flex-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.hr-main {
  background-color: blue;
  height: 8px;
  width: 100%;
  display: inline-block;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}
.hr-main:hover {
  animation: change-color 0.2s forwards;
}
@keyframes change-color {
  to {
    background: green;
  }
}
h3 {
  margin: 0;
  font-size: smaller;
  align-content: flex-end;
}
.timeline-wrapper:nth-child(2n) h3 {
  transform: translateY(190%);
}
.timeline-wrapper:nth-child(2n + 1) h3 {
  transform: translateY(-10%);
}
.timeline-wrapper:nth-child(2n) .hr-vertical {
  transform: translateY(140%);
}
.timeline-wrapper:nth-child(2n + 1) .hr-vertical {
  transform: translateY(43%);
}

.timeline-wrapper:nth-child(2n) img {
  transform: translateY(39%);
}
.timeline-wrapper:nth-child(2n + 1) img {
  transform: translateY(56%);
}

h3,
img {
  height: 4rem;
}
.timeline-wrapper:nth-child(2n + 1) h3 {
  order: 2;
}

.timeline-wrapper:nth-child(2n + 1) img {
  order: 0;
}

.timeline-wrapper:nth-child(2n + 1) hr {
  order: 1;
}

.hr-vertical {
  border-left: thick;
  height: 3rem;
  color: black;
  border: 1px solid black;
}
.timeline-wrapper:nth-child(2n) .hr-vertical::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 3px;
  background-color: white;
  position: absolute;
  right: -3px;
  top: -3px;
  border-radius: 50%;
  border: 2px solid black;
}
.timeline-wrapper:nth-child(2n + 1) .hr-vertical::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 3px;
  background-color: white;
  position: absolute;
  right: -3px;
  top: 45px;
  border-radius: 50%;
  border: 2px solid black;
}
